<div class="row">
    <% rooms.each do |room| %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header preview">
                    <%= image_tag room.cover_photo(:medium) %>
                </div>
                <div class="card-body">
                    <%= link_to room.listing_name, room %>
                </div>
            </div>
        </div>
    <% end %>
</div>