<div class="row">
    <div class="col-md-3">
        <%= render 'room_menu' %>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Photos
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-offset-md-3 col-md-6">
                            <!-- BODY -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>