// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "toastr";

.avatar_small {
    width: 28px;
}

.avatar_medium {
    width: 48px;
}

.avatar_large {
    width: 68px;
}

.avatar_full {
    width: 100%;
}